@using System.Threading
@model List<Classroom.Models.DB_Models.Subject>
@{
    ViewBag.Title = "Marks";
}
<h2>Marks</h2>

<p>
    @Html.ActionLink("Edit marks", "EditMarks")
</p>
@foreach (var item in Model)
{
    <table>
        <tr>
            <th>
                @Html.DisplayName(item.Name)
            </th>
        </tr>
        <tr>
            <th>
                @Html.DisplayFor(modelItem => item.Mark)
            </th>
        </tr>
    </table>
}
<table>

    
</table>

