@if (ViewBag.dataFlag==true)
{
    <h2>
        No student subject data, @Html.ActionLink("Create some...","Index","Student")
    </h2>
}
else
{
    {
        var myChart = new Chart(width: 600, height: 400, theme: ChartTheme.Vanilla)
            .AddTitle("Student Averages")
            .AddSeries(name: "Student marks", xValue: @ViewBag.Names, yValues: ViewBag.Averages)
            .Write();
    }
}