@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Arbitrary classroom app to organise administration of students</p>
</div>

<div class="row">
    <div class="col-md-4">
        <p>
            Something
        </p>
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Something &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Something &raquo;</a></p>
    </div>
</div>